<a href="https://colab.research.google.com/github/saicharan7479/python-basic-to-advance-notes/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
import pandas as pd
calories={"day1":420,"day2":380,"day3":390}
myvar=pd.Series(calories)
print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [ ]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar = pd.DataFrame(data)

print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45

In [ ]:
mport pandas as pd

dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}

df = pd.DataFrame(dict)
df.shape

(4, 3)

In [ ]:
import pandas as pd

data = {
    'name': ["aparna", "pankaj", "sudhir", "Geeku"],
    'degree': ["MBA", "BCA", "M.Tech", "MBA"],
    'score': [90, 40, 80, 98]
}

df = pd.DataFrame(data)

filtered_df = df[(df['score'] >= 80) & (df['degree'] == 'MBA')]

print(df)
print(filtered_df)

     name  degree  score
0  aparna     MBA     90
1  pankaj     BCA     40
2  sudhir  M.Tech     80
3   Geeku     MBA     98
     name degree  score
0  aparna    MBA     90
3   Geeku    MBA     98

In [ ]:
import pandas as pd
import numpy as np

data = np.array(['g', 'e', 'e', 'k', 's'])

ser = pd.Series(data)
print(ser)

0    g
1    e
2    e
3    k
4    s
dtype: object

In [ ]:
import pandas as pd
import numpy as np

dict = {'Tom':28, 'Jack':34, 'Steve':55, 'Ricky':33}
df = pd.Series(dict)
print(df)

Tom      28
Jack     34
Steve    55
Ricky    33
dtype: int64

In [ ]:
import numpy as np
import pandas as pd

ser = pd.Series(np.linspace(1, 10, 5))
print(ser)

0     1.00
1     3.25
2     5.50
3     7.75
4    10.00
dtype: float64

In [ ]:
df = pd.read_csv("/content/sample_data/california_housing_test.csv")

In [ ]:
df.sort_values()

TypeError: DataFrame.sort_values() missing 1 required positional argument: 'by'

In [ ]:
df.tail()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [ ]:
df.sample(50)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2333,-119.75,34.44,28.0,1080.0,298.0,524.0,251.0,1.8432,327300.0
1805,-119.34,34.39,27.0,669.0,131.0,314.0,106.0,2.4659,231300.0
1418,-121.87,37.27,25.0,1730.0,226.0,721.0,243.0,7.5845,279300.0
2239,-117.25,33.22,19.0,2167.0,443.0,1654.0,435.0,3.5000,135800.0
2599,-118.29,34.05,40.0,907.0,349.0,1426.0,323.0,1.8571,143800.0
1943,-119.89,34.44,25.0,2786.0,470.0,1669.0,462.0,5.5184,268300.0
1103,-120.97,37.68,16.0,2493.0,535.0,1370.0,504.0,3.3368,121200.0
1685,-118.35,33.99,48.0,2741.0,439.0,1115.0,459.0,5.0514,269100.0
1878,-121.57,37.00,18.0,7241.0,1225.0,4168.0,1138.0,4.5714,260300.0
1996,-122.03,37.18,10.0,212.0,38.0,78.0,21.0,6.0622,390000.0
679,-117.41,34.10,5.0,4937.0,1139.0,2204.0,812.0,2.5272,92000.0
929,-118.12,33.81,37.0,1798.0,331.0,860.0,340.0,4.2143,228500.0
2926,-118.40,34.28,22.0,3517.0,810.0,3134.0,847.0,2.6652,164800.0
309,-118.27,34.11,36.0,1832.0,539.0,934.0,486.0,3.0521,276600.0
1468,-122.29,37.91,46.0,2085.0,346.0,748.0,354.0,4.0536,262000.0
1368,-117.56,33.88,36.0,838.0,210.0,722.0,180.0,2.4861,96200.0
1614,-122.27,37.80,10.0,105.0,42.0,125.0,39.0,0.9722,137500.0
1950,-118.09,33.89,42.0,991.0,215.0,717.0,219.0,4.0926,164400.0
2676,-121.83,37.30,17.0,1299.0,211.0,825.0,217.0,4.5000,235800.0
1432,-122.25,37.77,52.0,1527.0,320.0,825.0,264.0,3.4531,208800.0
2319,-118.35,34.05,44.0,1856.0,493.0,1374.0,469.0,2.0984,158000.0
754,-121.49,38.56,52.0,1777.0,368.0,624.0,350.0,3.6729,137800.0
2572,-118.32,33.93,34.0,1536.0,273.0,804.0,287.0,4.9615,157800.0
2709,-122.37,40.52,18.0,4547.0,774.0,2269.0,766.0,3.7896,98100.0
2600,-117.96,33.87,37.0,1785.0,360.0,1155.0,403.0,4.7984,175800.0
151,-122.29,37.54,41.0,1743.0,349.0,811.0,349.0,4.9464,282400.0
2244,-120.52,35.24,5.0,4413.0,804.0,2003.0,725.0,5.0267,253300.0
1810,-118.32,33.97,46.0,1504.0,270.0,814.0,306.0,4.3919,157100.0
2815,-118.34,34.03,46.0,2437.0,502.0,1151.0,477.0,2.4444,134100.0
1666,-123.80,39.46,35.0,1718.0,345.0,698.0,299.0,2.9243,131600.0
32,-121.13,39.31,17.0,3442.0,705.0,1693.0,619.0,2.8102,128900.0
1414,-121.09,37.61,42.0,1787.0,296.0,921.0,287.0,3.8864,171400.0
595,-122.27,41.23,40.0,1958.0,386.0,725.0,331.0,2.1898,65500.0
109,-122.43,37.74,52.0,1514.0,314.0,724.0,301.0,5.3292,300900.0
1507,-122.28,37.77,52.0,1468.0,363.0,870.0,347.0,2.9688,220800.0
2652,-121.98,37.22,46.0,10088.0,1910.0,3728.0,1781.0,5.2321,500001.0
1998,-117.36,33.92,7.0,9376.0,1181.0,3570.0,1107.0,8.5326,315200.0
2265,-117.14,32.71,32.0,719.0,251.0,894.0,208.0,1.8456,103100.0
2911,-121.80,38.01,44.0,3184.0,581.0,1399.0,548.0,2.7234,110200.0
501,-121.45,38.61,32.0,2436.0,612.0,1509.0,618.0,1.0424,81400.0
82,-118.44,34.25,35.0,1583.0,324.0,1481.0,351.0,3.7000,176000.0
2129,-121.99,38.35,45.0,1778.0,339.0,839.0,319.0,2.4659,102900.0
1956,-117.44,33.93,33.0,1371.0,236.0,715.0,227.0,4.3750,129900.0
65,-117.22,32.73,38.0,3966.0,768.0,1640.0,729.0,3.8409,291400.0
439,-117.72,34.10,46.0,2477.0,458.0,1034.0,455.0,5.5000,289700.0
668,-118.60,34.16,37.0,3441.0,584.0,1283.0,544.0,4.1656,313100.0
1063,-118.48,34.03,19.0,902.0,284.0,414.0,272.0,1.3333,310000.0
423,-118.29,34.18,10.0,4292.0,1075.0,2719.0,987.0,3.6974,286600.0
2370,-122.05,37.31,25.0,4601.0,696.0,2003.0,666.0,8.0727,455500.0
1514,-117.30,34.14,37.0,1454.0,261.0,761.0,248.0,2.3438,88100.0

In [ ]:
df.isna().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [ ]:
df.population.median()

1155.0

In [ ]:
  df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           3000 non-null   float64
 1   latitude            3000 non-null   float64
 2   housing_median_age  3000 non-null   float64
 3   total_rooms         3000 non-null   float64
 4   total_bedrooms      3000 non-null   float64
 5   population          3000 non-null   float64
 6   households          3000 non-null   float64
 7   median_income       3000 non-null   float64
 8   median_house_value  3000 non-null   float64
dtypes: float64(9)
memory usage: 211.1 KB

In [ ]:
 1. Reading and Saving Data
python
Copy
Edit
import pandas as pd

df = pd.read_csv('file.csv')         # Load data from a CSV
df.to_csv('new_file.csv')            # Save DataFrame to CSV
2. Basic Information
python
Copy
Edit
df.head()        # First 5 rows
df.tail()        # Last 5 rows
df.info()        # Overview (columns, data types, non-null values)
df.shape         # (rows, columns)
df.columns       # List of column names
df.dtypes        # Data types of each column
3. Selecting Data
python
Copy
Edit
df['Age']                   # Select single column
df[['Name', 'Age']]         # Select multiple columns
df.loc[0]                   # Select row by index label
df.iloc[0]                  # Select row by position
4. Filtering Rows (Conditionals)
python
Copy
Edit
df[df['Age'] > 30]           # Filter rows where Age > 30
df[df['City'] == 'Delhi']    # Filter rows by category
5. Sorting Data
python
Copy
Edit
df.sort_values('Age')                    # Sort by Age
df.sort_values(['Age', 'Salary'])        # Sort by multiple columns
 6. Handling Missing Data
python
Copy
Edit
df.dropna()          # Remove rows with any missing values
df.fillna(0)         # Fill missing values with 0
df.isnull().sum()    # Count missing values per column
7. Aggregating and Grouping
python
Copy
Edit
df['Salary'].mean()                           # Average salary
df.groupby('City').mean()                     # Mean by city
df.groupby('Department')['Salary'].sum()      # Sum salary per dept
 8. Adding and Removing Columns
python
Copy
Edit
df['NewCol'] = df['Salary'] * 2       # Add new column
df = df.drop('NewCol', axis=1)        # Delete column
 9. Merging and Joining Data
python
Copy
Edit
df1 = pd.read_csv('file1.csv')
df2 = pd.read_csv('file2.csv')
pd.concat([df1, df2])                     # Stack DataFrames

               # Join by column
 10. Exporting Final Data
df.to_csv('clean_data.csv', index=False)  # Save without index

SyntaxError: invalid character '' (U+1F539) (<ipython-input-25-c31b1ebaef23>, line 9)

In [ ]:
df = pd.read_csv("/content/sample_data/california_housing_test.csv")
df.shape         # (rows, columns)

(3000, 9)

In [ ]:
something=df['total_rooms'].mean()

In [ ]:
something=df['households'].sum()
print(something.item())

1469736.0

In [ ]:
df1 = pd.read_csv('/content/sample_data/california_housing_test.csv')
df2 = pd.read_csv('/content/sample_data/california_housing_train.csv')
pd.concat([df1, df2])

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [ ]:
df.t_csv('/content/sample_data/california_housing_test.csv', index=False)
#cleaning data

In [ ]:
df.groupby('total_rooms').mean()

,longitude,latitude,housing_median_age,total_bedrooms,population,households,median_income,median_house_value
total_rooms,,,,,,,,
6.0,-116.95,33.86,1.0,2.0,8.0,2.0,1.6250,55000.0
16.0,-117.12,32.66,52.0,4.0,8.0,3.0,1.1250,60000.0
18.0,-114.62,33.62,26.0,3.0,5.0,3.0,0.5360,275000.0
19.0,-121.04,37.67,16.0,19.0,166.0,9.0,0.5360,162500.0
21.0,-118.06,34.03,36.0,7.0,21.0,9.0,2.3750,175000.0
...,...,...,...,...,...,...,...,...
21988.0,-117.12,33.49,4.0,4055.0,8824.0,3252.0,3.9963,191100.0
23915.0,-117.27,33.15,4.0,4135.0,10877.0,3958.0,4.6357,244900.0
24121.0,-116.36,33.78,6.0,4522.0,4176.0,2221.0,3.3799,239300.0
27870.0,-121.53,38.48,5.0,5027.0,11935.0,4855.0,4.8811,212200.0
30450.0,-117.20,33.58,2.0,5033.0,9419.0,3197.0,4.5936,174300.0

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [ ]:
#read
#dimensions
#sample data sets
#null values
#filling null va;ues
#filling
#concate
#merge
#group6 by
#filtering

In [ ]:
import pandas as pd

df1 = pd.DataFrame({'key': ['A', 'B', 'C'], 'value1': [1, 2, 3]})
df2 = pd.DataFrame({'key': ['A', 'B', 'D'], 'value2': [4, 5, 6]})

merged = pd.merge(df1, df2, on='key')
print(merged)

  key  value1  value2
0   A       1       4
1   B       2       5