<a href="https://colab.research.google.com/github/saicharan7479/01python-basic-to-advance-notes/blob/main/practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#read
#dimensions
#sample data sets
#null valuoes
#filling null va;ues
#filling
#concate
#merge
#group by
#filtering

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/datasets/population/master/data/population.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16930 entries, 0 to 16929
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  16930 non-null  object
 1   Country Code  16930 non-null  object
 2   Year          16930 non-null  int64
 3   Value         16930 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 529.2+ KB

In [ ]:
df.shape
#we cant use () coz it is a tuple

(16930, 4)

In [ ]:
df.columns

Index(['Country Name', 'Country Code', 'Year', 'Value'], dtype='object')

In [ ]:
df.dropna()

      Country Name Country Code  Year       Value
0            Aruba          ABW  1960     54922.0
1            Aruba          ABW  1961     55578.0
2            Aruba          ABW  1962     56320.0
3            Aruba          ABW  1963     57002.0
4            Aruba          ABW  1964     57619.0
...            ...          ...   ...         ...
16925     Zimbabwe          ZWE  2019  15271368.0
16926     Zimbabwe          ZWE  2020  15526888.0
16927     Zimbabwe          ZWE  2021  15797210.0
16928     Zimbabwe          ZWE  2022  16069056.0
16929     Zimbabwe          ZWE  2023  16340822.0

[16930 rows x 4 columns]

In [ ]:
df.isnull().sum()

Country Name    0
Country Code    0
Year            0
Value           0
dtype: int64

In [ ]:
df.fillna(0)

      Country Name Country Code  Year       Value
0            Aruba          ABW  1960     54922.0
1            Aruba          ABW  1961     55578.0
2            Aruba          ABW  1962     56320.0
3            Aruba          ABW  1963     57002.0
4            Aruba          ABW  1964     57619.0
...            ...          ...   ...         ...
16925     Zimbabwe          ZWE  2019  15271368.0
16926     Zimbabwe          ZWE  2020  15526888.0
16927     Zimbabwe          ZWE  2021  15797210.0
16928     Zimbabwe          ZWE  2022  16069056.0
16929     Zimbabwe          ZWE  2023  16340822.0

[16930 rows x 4 columns]

In [ ]:
df['Value'].mean()

np.float64(216605749.66709983)

In [ ]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/datasets/population/master/data/population.csv")
df.info()

print(df.columns)

df.shape

df.columns
df.dropna()
df.isnull().sum()
df.fillna(0)
df['Value'].mean()

if 'year' in df.columns:
    df.groupby(['Value'])['year'].sum()
else:
    print("Column 'year' not found in the DataFrame.")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16930 entries, 0 to 16929
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  16930 non-null  object
 1   Country Code  16930 non-null  object
 2   Year          16930 non-null  int64
 3   Value         16930 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 529.2+ KB
Index(['Country Name', 'Country Code', 'Year', 'Value'], dtype='object')
Column 'year' not found in the DataFrame.

In [ ]:
import pandas as pd
ds = pd.Series([2, 4, 6, 8, 10])
print("Pandas Series and type")
print(ds)
print(type(ds))

Pandas Series and type
0     2
1     4
2     6
3     8
4    10
dtype: int64
<class 'pandas.core.series.Series'>

In [ ]:
import pandas as pd
ds = pd.Series([2, 4, 6, 8, 10])
print("Pandas Series and type")
print(ds)
print(type(ds))
print("Convert Pandas Series to Python list")
print(ds.tolist())

Pandas Series and type
0     2
1     4
2     6
3     8
4    10
dtype: int64
<class 'pandas.core.series.Series'>
Convert Pandas Series to Python list
[2, 4, 6, 8, 10]

In [ ]:
import pandas as pd
ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 10])
print(ds1)
print(ds2)
print(ds1 <ds2)

0     2
1     4
2     6
3     8
4    10
dtype: int64
0     1
1     3
2     5
3     7
4    10
dtype: int64
0    False
1    False
2    False
3    False
4    False
dtype: bool

In [ ]:
#Write a Pandas program to convert a dictionary to a Pandas series.

#Sample dictionary: d1 = {'a': 100, 'b': 200, 'c':300, 'd':400, 'e':800}
import pandas as pd
d1 = {'a': 100, 'b': 200, 'c':300, 'd':400, 'e':800}
print("Original dictionary:")
print(d1)
new_dictionary = pd.Series(d1)
print(new_dictionary)

Original dictionary:
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
a    100
b    200
c    300
d    400
e    800
dtype: int64

In [ ]:
df = pd.DataFrame({
    'A': [1, 6, 8, 3, 7],
    'B': [5, 2, 9, 4, 1]
})

# Use parentheses around conditions and bitwise & for AND
gg = df[(df['A'] > 4) & (df['B'] < 2)]

print(gg)

   A  B
4  7  1

In [ ]:
df = pd.DataFrame({
    'X': [1, 6, 8, 3, 7],
    'Y': [5, 2, 9, 4, 1],
    'Z': ['one', 'one', 'two', 'two', 'one']
})

df = df.set_index(['Z', 'X'])
result = df.loc[('one', 6)]
print(result)

Y    2
Name: (one, 6), dtype: int64

In [ ]:
import pandas as pd

df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35]
})

print(df.index)

RangeIndex(start=0, stop=3, step=1)

In [ ]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({
    'A': [1, 6, 8, 3, 7],
    'B': [5, 2, 9, 4, 1],
    'C': ['one', 'one', 'two', 'two', 'one']
})

# Set MultiIndex
df = df.set_index(['C', 'A'])

# Slice DataFrame
result = df.loc['one']
print(result)

   B
A
1  5
6  2
7  1